# Base de datos
DATABASE_URL=mysql+pymysql://root:password@mysql.railway.internal:3306/railway

# JWT / Autenticación
SECRET_KEY=generar_una_clave_larga_y_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Entorno / CORS
ENVIRONMENT=production
BACKEND_CORS_ORIGINS=http://localhost:5173,http://localhost:3000,https://patitas-sanas-sigma.vercel.app

# Configuración SMTP para recordatorios de citas
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_contraseña_de_aplicacion
SMTP_FROM=tu_correo@gmail.com
